body {
    font-family: 'Courier New', Courier, monospace;
}

/*---------- Text ----------*/

h1 {
    font-size: 1.2em;
    font-weight: bold;
}
h1.score {
    text-align: right;
}
p {
    font-size: 0.9em;
}

/*---------- Containers ----------*/

.wrapper {
    width: 60%;
    margin: auto;
    margin-top: 5%;
}
.wrapperReset {
    width: 60%;
    margin: auto;
}
.reg {
    width: 100%;
    float: right;
    margin: 0 0 20px 0;
}
.regPlayer {
    width: 170px;
    float: right;
}
.half {
    width: 50%;
    float: left;
}
#regAll {
    display: block;
}
#scoreCard {
    display: none;
    margin: 10px;
}
#questionsAll {
    display: none;
}
#answersAll {
    display: none;
}
.toggleDiv {
    width: 100%;
    float: left;
}
.container {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
ul{
    padding: 0;
    margin: 0;
}

/*---------- Buttons ----------*/

button {
    font-family: 'Courier New', Courier, monospace;
}
.answer {
    border: 1px solid black;
    float: right;
    padding: 5px;
    margin: 10px 0 0 0;
    background-color: white;
}
.toggle {
    border: 1px solid black;
    float: left;
    padding: 5px;
    margin: 10px 20px 0 0;
    background-color: white;
}
.play {
    border: 1px solid black;
    float: right;
    padding: 5px;
    margin: 0 0 0 10px;
    background-color: white;
    width: 100%;
}
.reset {
    border: 1px solid black;
    float: left;
    padding: 5px;
    margin: 50px 0;
    background-color: white;
}
.labelCheck {
    padding: 0;
    margin: 0;
    clear: both;
    display: none;
}
input[type="checkbox"] + label {
    border: 1px solid black;
    float: left;
    padding: 5px;
    margin: 10px 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}
input[type="checkbox"]:checked + label {
    border: 1px solid black;
    float: left;
    padding: 5px;
    margin: 10px 0;
    background-color: orangered;
    color: white;
    width: 100%;
    box-sizing: border-box;

}
input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
    position: absolute;
    left: -9999%;
}

/*---------- Elements ----------*/

.lists {
    font-family: 'Courier New', Courier, monospace;
    margin: 13px 0;
    float: right;
    width: 80px;
    text-align: center;
}
.input{
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    padding: 5px 0 5px 2px;
    width: 166px;
    float: right;
}